header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2F3672;
    border-bottom: 10px solid #000;
    padding: 10px 40px;
}

.logo {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 25px;
    color: #FFF;
    text-shadow: 5px 5px 0px #000;
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-family: 'Fira Code', sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before {
    content: "";
    background-color: #F25A70;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.button {
    display: inline-block;
    background-color: #F54949;
    height: 60px;
    padding:  18px 20px;
    box-shadow: 5px 5px 0px #000;
    box-sizing: border-box;
    margin-right: 0px;
    transition: transform 500ms cubic-bezier(0.52, 0.22, 0, 1.47);
}

.button:hover {
    transform: scale(1.08);
}