.main-button {
    display: inline-block;
    background-color: #F54949;
    box-shadow: 5px 5px 0px #000;
    padding:  18px 20px;
    margin-right: 0px;
    transition: transform 500ms cubic-bezier(0.52, 0.22, 0, 1.47);
    font-size: 20px;
    color: #FFF;
    font-family: inherit;
    text-decoration: none;
}

.main-button:hover {
    transform: scale(1.08);
}