.main-section {
    background-color: #F54949;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #2F3672;
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-bgBlack {
    background-color: #000;
}

.main-section.-bdFirst {
    border-bottom: 10px solid #F54949;
}

.main-section.-bgSecond {
    background-color: #2F3672;
}

.main-section.-bdBlack {
    border-color:#000;
}